* {
  margin: 0;
  padding: 0;
}

.container {
    width: 1920px;
    margin: 0 auto;
   
}

/*Header Menu Section*/

#headercontainer {
  width: 1920px; 
  height: 44px; 
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 8px;
}

#headermenu {
  width: 1920px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 520px;
  padding-right: 520px; 
}

.headertext {
  font-size: 12px;
  font-weight: 400px;
  color: #000;
}

#Sentence{
    width: 1920px;
    height: 52PX;
    margin-top: 16px;
    font-weight: 400;
    text-align: center;
}
#donate{
    font-size: 14px;
    color: #1d1d1f;

}
#ip16container{
    width: 100vw;
    height: 692px;
    background-image: url(./pictures/ip16background.png);
    background-size: cover;
}
