* {
  margin: 0;
  padding: 0;
}
body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "SF Pro Text",
    "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#headercontainer {
  background-color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  position: fixed;
  width: 100vw;
  height: 44px;
  z-index: 1;
}

/*Header Menu Section*/

.headermenu {
  display: flex;
  justify-content: center;
  gap: 24px;
}

#headertexts {
  display: flex;
  align-items: center;
  gap: 24px;
}

.headertext {
  font-size: 12px;
  font-weight: 400px;
  color: #000;
}

#mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sentence {
  display: flex;
  justify-content: center;
}

#donate {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

#body {
  width: 100vw;
  height: 2100px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#ip {
  width: 100vw;
  height: 692px;
  background: url(./pictures/ip16background.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.iptextcontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 55px;
  gap: 16px;
  align-items: center;
}

.iptext {
  font-size: 52px;
  font-weight: 600;
  color: #f5f5f5;
}

.hellotext {
  font-size: 24px;
  font-weight: 400;
  color: #f5f5f5;
  width: 405px;
  height: 32px;
  gap: 16px;
}

.buttoncontainer {
  display: flex;
  gap: 16px;
}

.learnmore {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.buy {
  width: 68px;
  height: 44px;
  border: 1px solid #2997ff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2997ff;
}

#buttoncontainer2 {
  display: flex;
  gap: 16px;
}

#learnmore2 {
  width: 123px;
  height: 44px;
  background-color: #f5f5f5;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

#buy2 {
  width: 68px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

#ip2 {
  width: 100vw;
  height: 692px;
  background: url(./pictures/ip16.2.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#third {
  width: 100vw;
  height: 692px;
  background: url(./pictures/third.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#magictext {
  font-size: 52px;
  font-weight: 600;
  margin-top: 446px;
}

#shops {
  width: 114px;
  height: 44px;
  background-color: #0071e3;
  border-radius: 40px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  gap: 12px;
}

#box1 {
  width: 49%;
  height: 580px;
  background-image: url(./pictures/1\ \(2\).png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttoncontainer1 {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}

#learnmore1 {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

#buy1 {
  width: 68px;
  height: 44px;
  border: 1px solid #2997ff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2997ff;
}

.hellotext-gradient-text {
  background-image: linear-gradient(to right, #b67bfb, #f53d85, #ff794d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 14px;
  margin-top: 324px;
}

#box2 {
  width: 49%;
  height: 580px;
  background-image: url(./pictures/2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#airpods {
  font-size: 36px;
  color: #f5f5f7;
  padding-top: 401px;
}

#nowtext {
  font-size: 18px;
  color: #f5f5f7;
  font-weight: 400;
  margin-top: 2px;
}

#buttoncontainer3 {
  margin-top: 10px;
  display: flex;
  gap: 16px;
}

#box3 {
  width: 49%;
  height: 580px;
  background-image: url(./pictures/3.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#watch {
  width: 152px;
  height: 39px;
  margin-top: 58px;
  display: flex;
  gap: 7px;
}

#applelogo2 {
  width: 26.35px;
  height: 32px;
  background-image: url(./pictures/applelogo2.png);
  background-size: cover;
  margin-top: 4px;
}

#aplletext {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}

#classictext {
  font-size: 18px;
  font-weight: 400;
  color: #1d1d1f;
  margin-top: 4px;
}

#buttoncontainer4 {
  margin-top: 16px;
  gap: 16px;
  display: flex;
}

#box4 {
  width: 49%;
  height: 580px;
  background-image: url(./pictures/4.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#macBookair {
  font-size: 36px;
  font-weight: 600;
  color: #1d1d1f;
  margin-top: 48px;
}

#box5 {
  width: 49%;
  height: 580px;
  background-image: url(./pictures/5.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#watch2 {
  height: 39px;
  margin-top: 58px;
  display: flex;
  gap: 7px;
}

#sctext {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#seriestext {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
}

#classictext {
  font-size: 18px;
  font-weight: 400;
  color: #1d1d1f;
  margin-top: 4px;
}

#estimatebutton {
  width: 167px;
  height: 40px;
  border-radius: 40px;
  background-color: #0071e3;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

#box6 {
  width: 49%;
  height: 580px;
  background-image: url(./pictures/6.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.threecon {
  width: 100vw;
  height: 668px;
}

.parent {
  gap: 16px;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.pic1 {
  width: 1250px;
  height: 668px;
  background-image: url(./pictures/disclaimer.jpg);
  flex: 0 0 auto;
}

.pic2 {
  width: 1250px;
  height: 668px;
  background-image: url(./pictures/flymetothemoon.png);
  flex: 0 0 auto;
  background-size: cover;
  display: flex;
  align-items: end;
  gap: 20px;
}

#streambutton {
  width: 123px;
  height: 44px;
  background-color: #f5f5f5;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-left: 70px;
  margin-bottom: 58px;
}

#comedytext {
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 68px;
}

.pic3 {
  width: 1250px;
  height: 668px;
  background-image: url(./pictures/shrinking.jpg);
  flex: 0 0 auto;
}

.tablistcon {
  width: 100vw;
  height: 32px;
  display: flex;
  justify-content: center;
}
#tablist {
  width: 220px;
  height: 8px;
  padding: 12px;
  gap: 14px;
  display: flex;
  justify-content: center;
}

.tab {
  width: 8px;
  height: 8px;
  background-color: gray;
  border-radius: 50%;
}

.footercon {
  width: 100vw;
  height: 292px;
  gap: 16px;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.img1 {
  width: 417px;
  height: 236px;
  background-image: url(./pictures/fitness1.jpg);
  background-size: cover;
  flex: 0 0 auto;
  display: flex;
}
.img1footer {
  width: 223.7px;
  height: 18px;
  margin-top: 188px;
}

.imptext {
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
  color: #ffffff;
}



.img2 {
  width: 417px;
  height: 236px;
  background-color: #1b2632;
  background-size: cover;
  flex: 0 0 auto;
}

.img3 {
  width: 417px;
  height: 236px;
  background-image: url(./pictures/arcade3.jpg);
  background-size: cover;
  flex: 0 0 auto;
}

.img4 {
  width: 417px;
  height: 236px;
  background-image: url(./pictures/fitness4.jpg);
  background-size: cover;
  flex: 0 0 auto;
}

.img5 {
  width: 417px;
  height: 236px;
  background-image: url(./pictures/music5.jpg);
  background-size: cover;
  flex: 0 0 auto;
}

.img6 {
  width: 417px;
  height: 236px;
  background-image: url(./pictures/fitness1.jpg);
  background-size: cover;
  flex: 0 0 auto;
}

.img7 {
  width: 417px;
  height: 236px;
  background-color: #1b2632;
  background-size: cover;
  flex: 0 0 auto;
}

.img8 {
  width: 417px;
  height: 236px;
  background-image: url(./pictures/arcade3.jpg);
  background-size: cover;
  flex: 0 0 auto;
}

.img9 {
  width: 417px;
  height: 236px;
  background-image: url(./pictures/fitness4.jpg);
  background-size: cover;
  flex: 0 0 auto;
}

.img2{
  display: flex  ;
  align-items: center;
  padding-left: 15px;
}

#rnbtext{
  font-size: 14px ;
  font-weight: 600;
}